# Abaikan file sistem
.DS_Store
Thumbs.db

# Folder/berkas build sementara
node_modules/
dist/
build/
*.log
*.tmp

# Folder pribadi atau sensitif (jika ada)
.env

# Abaikan file yang tidak perlu dilacak Git
*.log
.DS_Store
node_modules/
